{% load static %}
<html >
<head>
 <title>Мой блог</title>
 <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
 <link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css" media="all" />

 <link rel="shortcut icon" href="css/images/favicon.ico" />

</head>
<body>
<div class="shell">
 <div class="border">

  <div id="navigation">
   <ul>
       <li><a href="/" class="active">Главная</a></li>
       <li><a href="/admin">Админ панель</a></li>
       <li><div id="google_translate_element" style="padding-left: 20px"></div>

            <script type="text/javascript">
                function googleTranslateElementInit() {
                    new google.translate.TranslateElement({
                        pageLanguage: 'ru',
                        layout: google.translate.TranslateElement.InlineLayout.SIMPLE
                    }, 'google_translate_element');
                }
            </script>

            <script type="text/javascript"
                    src="https://translate.google.com/translate_a/element.js?cb=googleTranslateElementInit">
            </script>
       </li>
       <li>
           <div class = "d-flex">
                    <button onclick="location.href='{% url 'login' %}'" class="btn btn-outline-success" data-bs-toggle="modal" data-bs-target="#exampleModal" style="margin-right: 10px">Sign in</button>
                    <button onclick="location.href='{% url 'logout' %}'" class="btn btn-outline-danger">Sign out</button>
                    <button onclick="location.href='{% url 'register' %}'" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#ModalReg" style="margin-right: 10px; margin-left: 10px;">Register</button>
           </div>
       </li>
       <li><p>Пользователь:  <b style="color: red">{{request.user.username}}</b></p></li>
   </ul>
  </div>

  <div id="main">
   <div id="content" class="left">

    <div class="projects">
     <h3>Записи</h3>
     {% for post in page_obj.object_list %}
         <div class="item">
              <div class="image left">
                   <a href="#"><img src="{{ post.img.url }}" width="200px" style="margin-right: 20px" alt="" /></a>
              </div>

             <div class="text left">
                       <h4><a href="{{ post.id }}">{{ post.title }}</a></h4>
                       <p>{{ post.description }}</p>
                       <p>Автор:  {{ post.author }}</p>
             </div>

             <div class="cl">&nbsp;</div>
         </div>
     {% endfor %}
    </div>
   </div>

   <div class="cl">&nbsp;</div>
  </div>


 </div>

 <center>
        {%if page_obj.has_previous %} {# whether the previous page exists #}
            <a style="font-size: 16pt; font-weight: bold" href="?page={{page_obj.previous_page_number}}"><</a> {# link to the prev page #}
        {% endif %}
        <span style="font-size: 18pt; font-weight: bold">{{page_obj.number}}</span> {# the current page number #}

        {%if page_obj.has_next %} {# whether the next page exists #}
            <a style="font-size: 16pt; font-weight: bold" href="?page={{page_obj.next_page_number}}">></a> {# link to the next page #}
        {% endif %}
    </center>

 <div id="footer">
  <p class="copy right">Finuniver 2024 </p>
 </div>
</div>
</body>
</html>