{% load static %}
<html >
<head>
	<title>Мой блог</title>
	<meta http-equiv="Content-type" content="text/html; charset=utf-8" />
	<link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css" media="all" />

	<link rel="shortcut icon" href="css/images/favicon.ico" />

</head>
<body>
<div class="shell">
	<div class="border">

		<div id="navigation">
			<ul>
			    <li><a href="/" class="active">Главная</a></li>
				<li>
					<script type="text/javascript">
						function googleTranslateElementInit() {
							new google.translate.TranslateElement({
								pageLanguage: 'ru',
								layout: google.translate.TranslateElement.InlineLayout.SIMPLE
							}, 'google_translate_element');
						}
					</script>

					<script type="text/javascript"
							src="https://translate.google.com/translate_a/element.js?cb=googleTranslateElementInit">
					</script>
				</li>
				<li><a href="/admin">Админ панель</a></li>
				<li>
					<div class = "d-flex">
                        <button onclick="location.href='{% url 'login' %}'" class="btn btn-outline-success" data-bs-toggle="modal" data-bs-target="#exampleModal" style="margin-right: 10px">Sign in</button>
                        <button onclick="location.href='{% url 'logout' %}'" class="btn btn-outline-danger">Sign out</button>
                        <button onclick="location.href='{% url 'register' %}'" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#ModalReg" style="margin-right: 10px; margin-left: 10px;">Register</button>

					</div>
				</li>
				<li><p>Пользователь:  <b style="color: red">{{request.user.username}}</b></p></li>

			</ul>
		</div>

		<div id="main">
			<div id="content" class="left">

				<div class="projects">
					<h3>{{ post.title }}</h3>
                  <p align="center">
                    <img src="{{ post.img.url }}" width="50%" alt="" />
                  </p>
					<div class="item">
						<div class="text left">
							<p>{{ post.description }}</p>
							<h4>Автор:  {{ post.author }}</h4>
						</div>
						<div class="cl">&nbsp;</div>
					</div>
				</div>
			</div>

			<div class="cl">&nbsp;</div>
		</div>
		<div class="form-comment">
			<h3>Оставить комментарий</h3>
			<div>
				<form action="{% url 'add_comments' post.id %}" method="post">
					{% csrf_token %}
					<div>
						<label>Ваш комментарий</label>
						<textarea name="text_comments"> </textarea>
					</div>
					<div>
						<label> Ваше имя *</label>
						<input type="text" name="name">
					</div>

					<div>
						<label> Ваш Email *</label>
						<input type="email" name="email">
					</div>

					<div><input type="submit"></div>
				</form>
			</div>
		</div>
		<div>
			{% for comment in post.comments_set.all %}
			<div class="view-comment">
				<h4>{{ comment.name }}</h4>
				<p>
					{{ comment.text_comments }}
				</p>

			</div>
			{% endfor %}
		</div>


	</div>

	<div id="footer">
		<p class="copy right"> 2024 </p>
	</div>
</div>
</body>
</html>